HOST=0.0.0.0
PORT=1337
APP_KEYS="N2kMGitV1QPCAH4a6PedhQ==,dlnmvY/7CK2N8ZJxJJSUAg==,9/y/uJkFHGtAgVXfK2O+wQ==,azzZHmqQciVJ0z7RePe53g=="
API_TOKEN_SALT=uk93Mf7gaj+7iIJEucBd8g==
ADMIN_JWT_SECRET=MKIJ6d026zEG7qNI3/Yguw==
TRANSFER_TOKEN_SALT=OVv+saO9jvujkB/M5xDLmQ==
JWT_SECRET=+373vl5cHPbbxd2tWKwD0w==
ENCRYPTION_KEY=ocmhkWo/ylQEhY2lecJFjg==

# Server
STRAPI_URL=http://localhost:1337

# Database (PostgreSQL)
DATABASE_CLIENT=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=strapi
DATABASE_USERNAME=strapi
DATABASE_PASSWORD=your_password_here
DATABASE_SSL=false
