HOST=0.0.0.0
PORT=1337
APP_KEYS="N2kMGitV1QPCAH4a6PedhQ==,dlnmvY/7CK2N8ZJxJJSUAg==,9/y/uJkFHGtAgVXfK2O+wQ==,azzZHmqQciVJ0z7RePe53g=="
API_TOKEN_SALT=uk93Mf7gaj+7iIJEucBd8g==
ADMIN_JWT_SECRET=MKIJ6d026zEG7qNI3/Yguw==
TRANSFER_TOKEN_SALT=OVv+saO9jvujkB/M5xDLmQ==
JWT_SECRET=+373vl5cHPbbxd2tWKwD0w==
ENCRYPTION_KEY=ocmhkWo/ylQEhY2lecJFjg==

# Database
DATABASE_CLIENT=postgres
DATABASE_URL=postgresql://neondb_owner:npg_BoE4v9tcwlXp@ep-bold-fire-a11e95f6.ap-southeast-1.aws.neon.tech/neondb
DATABASE_SSL=true
DATABASE_SSL_REJECT_UNAUTHORIZED=false
